---
import solution from "../../public/undraw_solution_mindset_re_57bf.svg?raw";
---

<section class="relative lg:min-h-[45vh] xl:min-h-[70vh] xl:pb-[15rem]">
  <div
    class="grid grid-cols-1 xl:grid-cols-2 gap-0 px-4 md:px-6 place-items-center xl:pt-[80px]"
  >
    <div class="lg:mt-[100px] xl:px-[2rem]">
      <h1
        class="text-3xl mt-6 font-medium text-[#091133] tracking-[1.00px] md:font-semibold md:text-4xl lg:text-5xl lg:tracking-[1.50px] lg:leading-[1.20] xl:text-[3.5rem] animate__animated animate__pulse"
      >
        Introduce tu Producto <br class="hidden xl:block" /> Facil y Efectivamente
      </h1>
      <p class="text-sm md:text-base lg:text-md text-[#505f98] mt-9">
        Impulsa tu negocio con nuestra innovadora plataforma que facilita la
        presentación de productos. Con un diseño intuitivo y herramientas
        avanzadas, podrás destacar tus productos de forma rápida y efectiva.
        Descubre cómo nuestra solución puede acelerar el proceso, ahorrándote
        tiempo y permitiéndote enfocarte en lo que realmente importa. ¡Haz que
        tu presentación sea impactante y exitosa!
      </p>

      <div
        class="flex justify-around mx-auto mt-7 xl:justify-start xl:gap-6 xl:relative xl:top-[50px]"
      >
        <button
          class="w-[150px] h-9 bg-indigo-950 rounded-sm text-center text-white text-base font-medium font-['Roboto'] leading-relaxed"
          >Adquirir</button
        >
        <button
          class="w-[150px] h-9 rounded-sm border-2 border-slate-900 text-center text-slate-900 text-base font-medium font-['Roboto'] leading-relaxed"
          >Más información</button
        >
      </div>
    </div>
    <svg
      width="1023"
      height="1112"
      class="hidden lg:block absolute z-[-1] right-0 top-0 h-[40rem] w-[40rem] xl:w-[50rem] xl:h-[50rem]"
      viewBox="0 0 1023 1112"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        opacity="0.5"
        d="M318.635 37.6942C198.697 138.217 180.111 328.298 98.8809 468.527C70.6041 517.322 34.0667 560.992 15.0036 615.123C-28.7619 739.026 31.472 879.572 112.093 977.981C150.536 1024.93 195.44 1067.94 249.77 1087.72C291.55 1102.94 336.348 1103.57 380.325 1103.97L1150.79 1111.9C1236.81 1112.77 1332.39 1109.62 1394.24 1043.21C1436.87 997.478 1454.18 930.692 1468.88 866.944C1486.93 788.613 1503.3 703.546 1475.2 628.94C1443.11 543.582 1361.96 495.21 1311.55 421.555C1229.74 302.223 1231.62 121.731 1127.44 26.4664C1078.8 -17.9959 1014.62 -35.4321 952.083 -44.1502C834.184 -60.6089 722.506 -29.5408 606.725 -33.8734C507.756 -37.572 400.739 -31.1259 318.635 37.6942Z"
        fill="#E7ECFF"></path>
    </svg>
    <div
      class="max-w-full h-auto relative overflow-x-hidden mt-14 pb-6 md:mx-auto lg:mt-[100px]"
    >
      <Fragment set:html={solution} />
    </div>
  </div>
</section>
