---
const title = "Introduce Your Product Quickly & Effectively";
import solution from "../../public/undraw_solution_mindset_re_57bf.svg?raw";
---

<section class="relative lg:min-h-screen">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-0 px-4 md:px-6">
    <div>
      <h1
        class="text-3xl mt-6 font-medium text-[#091133] tracking-[1.00px] md:font-semibold md:text-4xl lg:text-4xl"
      >
        Introduce Your Product Quickly & Effectively
      </h1>
      <p class="text-sm md:text-base lg:text-lg text-[#505f98] mt-9">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
        quis enim.
      </p>

      <div class="flex justify-around mx-auto mt-7">
        <button
          class="w-[150px] h-9 bg-indigo-950 rounded-sm text-center text-white text-base font-medium font-['Roboto'] leading-relaxed"
          >Purchase UI Kit</button
        >
        <button
          class="w-[150px] h-9 rounded-sm border-2 border-slate-900 text-center text-slate-900 text-base font-medium font-['Roboto'] leading-relaxed"
          >Learn More</button
        >
      </div>
    </div>
    <div
      class="max-w-full h-auto relative overflow-x-hidden mt-14 pb-6 md:mx-auto"
    >
      <Fragment set:html={solution} />
    </div>
  </div>
</section>
