<div class="min-h-screen flex items-center justify-center relative">
  <!-- SVG Background -->
  <div class="w-full h-full absolute left-0 top-0">
    <svg
      viewBox="0 0 1440 935"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="z-index: 1;"
    >
      <path
        opacity="0.5"
        d="M-139.904 9.26594C640.819 120.739 1608.53 9.26594 1608.53 9.26594C1608.53 9.26594 2244.76 1074.31 1608.53 918.513C972.293 762.719 343.343 964.177 -139.904 918.513C-623.152 872.85 -920.628 -102.208 -139.904 9.26594Z"
        fill="#E7ECFF"></path>
    </svg>
  </div>
  <!-- Text -->
  <div class="z-10 px-2">
    <div
      class="w-full md:w-[600px] h-auto flex-col justify-end items-start gap-4 inline-flex"
    >
      <div
        class="w-full md:w-[600px] text-center text-slate-900 text-3xl font-medium font-['Roboto'] leading-[48px]"
      >
        A Price To Suit Everyone
      </div>
      <div
        class="w-full md:w-[600px] text-center text-slate-500 text-base font-normal font-['Roboto'] leading-relaxed"
      >
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus
      </div>
      <div class="flex flex-col justify-center items-center mx-auto gap-5">
        <div
          class="w-full md:w-[350px] text-center text-blue-950 text-[50px] font-medium font-['Roboto'] leading-[66px] tracking-wide"
        >
          $40
        </div>
        <div
          class="w-full md:w-[350px] text-center text-indigo-900 text-base font-normal font-['Roboto'] leading-relaxed"
        >
          UI Design Kit
        </div>
        <div
          class="w-full md:w-[350px] text-center text-gray-500 text-sm font-normal font-['Roboto'] leading-normal"
        >
          See, One price. Simple.
        </div>
        <div class="w-full md:w-[189px] h-[31.81px] relative">
          <div
            class="w-full md:w-[189px] h-8 left-0 top-0 absolute bg-indigo-950 rounded-sm"
          >
          </div>
          <div
            class="w-full md:w-[189px] left-0 top-[4px] absolute text-center text-white text-sm font-medium font-['Roboto'] leading-normal"
          >
            Purchase Now
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
